Repository ericsocrat/Lokifi, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, dependencies, infrastructure, testing, configuration, security, performance, database, api, ui, e2e-full, visual-regression

.github/labeler.yml:

# Automatic PR Labeling Configuration
# This file defines rules for automatically labeling pull requests based on changed files
# Used by actions/labeler action in label-pr.yml workflow

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/frontend/**/*'
      - 'package.json'
      - 'package-lock.json'

# Backend changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/backend/**/*'

# CI/CD changes
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'

# Dependency changes
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/frontend/package.json'
      - 'apps/frontend/package-lock.json'
      - 'apps/backend/requirements.txt'
      - 'apps/backend/requirements-dev.txt'

# Infrastructure changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infra/**/*'
      - 'apps/docker-compose*.yml'
      - '**/Dockerfile*'

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tests/**/*'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/test_*.py'
      - 'apps/frontend/playwright.config.ts'
      - 'apps/backend/pytest.ini'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.js'
      - '**/*.config.ts'
      - '**/*.config.mjs'
      - '**/*.toml'
      - '**/*.ini'
      - '**/.eslintrc*'
      - '**/tsconfig.json'

# Security changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/*security*.yml'
      - '**/security/**/*'
      - 'docs/security/**/*'

# Performance changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/performance/**/*'
      - 'infra/performance-tests/**/*'

# Database changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/backend/alembic/**/*'
      - 'apps/backend/app/models/**/*'
      - '**/migrations/**/*'

# API changes
api:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/backend/app/api/**/*'
      - 'apps/backend/app/routers/**/*'
      - 'docs/api/**/*'

# UI/Components changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/frontend/components/**/*'
      - 'apps/frontend/app/**/*'
      - 'apps/frontend/styles/**/*'

# E2E test related (for triggering full E2E suite)
e2e-full:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/frontend/tests/e2e/**/*'
      - 'apps/frontend/playwright.config.ts'

# Visual regression related (for triggering visual tests)
visual-regression:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/frontend/tests/visual/**/*'
      - 'apps/frontend/components/**/*'
      - 'apps/frontend/styles/**/*'

chore(deps): Update Dependabot configuration - Task 17
  .github/dependabot.yml
Labels: none

docs(ci): Create CI/CD rollback procedures - Task 15
  docs/ci-cd/ROLLBACK_PROCEDURES.md
Labels: documentation

feat(ci): Add workflow summary reporter - Task 14
  .github/workflows/workflow-summary.yml
Labels: ci-cd

feat(ci): Add actionlint for workflow security scanning - Task 18
  .github/workflows/ci.yml
Labels: ci-cd

feat(security): Add SARIF upload for security findings - Task 23
  .github/workflows/security-scan.yml
  apps/frontend/package.json
Labels: frontend, ci-cd, dependencies, security

docs(ci): Create comprehensive optimization summary - Task 32
  docs/ci-cd/OPTIMIZATION_SUMMARY.md
Labels: documentation

docs: Add CI/CD workflow status badges to README - Task 33
  README.md
Labels: documentation

chore: Standardize workflow names and add concurrency - Tasks 37, 39
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security-scan.yml
  apps/frontend/package.json
Labels: frontend, ci-cd, dependencies, security
